@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor_fundo_body: #F0F0F0;
    --cor_link_hover: #8eabb8;
    --textos_primários: #FFF;
    --cor_texto_secundario: #54616C;
    --fundoNav: #96B6C5;
    --fundoBanner: #54616C;
    --cor1:#d9095c;
    --cor3:#ac09d996;
    --cor4:#f82b7a;
    --cor5:#850af7;
    --cor6:#3891f767;
    --cor7:#86bbf867;
    --cor9:#0c68d1d8;

    --fontePrincipal: "Inter", sans-serif;
    --fonte_secundaria: "Poppins", sans-serif;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
}

*{
    margin: 0; padding: 0; box-sizing: 0; border-box: 0;
    
}

html{
    font-size: 62.5%;
}

.banner{
    background-color: var(--fundoBanner);
    background-image: url(img/fundoheader.svg);
    min-height: 27em;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.banner .gota{
    margin-left: 3%;
    margin-top: 4%;
    position: absolute;
}

.banner .outraGota{
    margin-left: 6%;
}

.banner .frase{
    color: var(--textos_primários);
    font-family: var(--fontePrincipal);
    text-align: left;
    font-weight: 600;
    padding-left: 3%;
    padding-top: 10%;
    margin-bottom: 10em;
    max-width: 13em;
    margin: 0;
    font-size: 3.2rem;
    position: absolute;
    margin-top: 1%;
}

header nav {
    display: flex;
    gap: 35em;
    align-items: center;
    background-color: var(--fundoNav);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0, 0.192);
    text-align: center;
    font-family: var(--fonte-padrao);
    justify-content: space-between;
    border-radius: -20px;
}

nav .nomeMarca{
    color: var(--textos_primários);
    font-family: var(--fontePrincipal);
    font-weight: 800;
    padding-left: 2%;
    font-size: 4.0rem;
    margin-bottom: 0;
}

nav .links{
    display: flex;
    gap: 1.5em;
    list-style: none;
    align-items: end;
    font-size: 2.4rem;
    padding-right: 2em;
    margin-bottom: 0;
    font-weight: 500;
}

nav .link{
    color: var(--textos_primários);
    padding: 10px;
    text-decoration: none;
    :transition-duration: 0.5s;
    border: 2px solid transparent;
    transition: color 0.5s;
}

span .link_carrinho{
    border: 2px solid;
    border-radius: 20px;
    border-color: var(--textos_primários);
    border-radius: 20px;
}

.link:hover{
    /* border-color: var(--textos_primários); */
    text-decoration: none;
    color: var(--textos_primários);
    background-color: var(--cor_link_hover);
    border-radius: 20px;
}



body{
    background-color: var(--cor_fundo_body);
}

.segunda_frase{
    text-align: center;
    font-family: var(--fonte_secundaria);
    font-size: 2.4rem;
    margin: 3.5em;
    color: var(--cor_texto_secundario);
}

/*cards */

.carrinho-container{
    display: grid;
    width: 100em;
    margin: auto;
    gap: 2.3em;
    row-gap: 8em;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 
        "left ."
        "left .";
}
.produto{
    width:30em;
    padding: 0 30px;
    font-family: var(--fonte-padrao);
    margin:auto;
    display: flex;
    gap: 10em;
    position: relative;
}
.produto img{
    max-width: 100%;
}

.adicionar_ao_carrinho{
    max-width: 20em;
    width: 5em;
    position: absolute;
    margin: 60%;
    padding-right: 2%;
    padding-top: 3%;
}

.roda_pe{
    display: flex;
    background-image: url(img/fundoRodaPe.svg);
    background-color: var(--fundoBanner);
    margin-top: 10em;
    height: 20em;
    justify-content: space-between;
}

.icones_rodape{
    display: flex;
    gap: 4em;
    margin: auto;
    margin-right: 5%;
}

.roda_pe .icone{
    width: 1em;
    
}

.roda_pe .pt-br{
    width: 10em;
    margin-left: 5%;
}


.carrinho-item{
    max-width: 1200px;
    margin: 10px auto;
    padding-bottom: 10px;

    border-bottom: 2px dotted #ccc;
}
.carrinho-item p{
    font-size: 16px;
    color: gray;
}

.curiosidades{
    background-color: var(--cor3);
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    font-family: var(--fonte-destaque);
    font-size: large;
}
.title{
    background-image: linear-gradient(to right, #e63079, #2380ebd8);
    width:20%;
    padding:10px;
    text-align:center;
    color:white;
    border-radius: 5px;
}
h2.title a{
    text-decoration: none;
    color:white;
}
.title3{
    background-color:var(--cor9);
    width:20%;
    padding:10px;
    text-align:center;
    color:white;
    border-radius: 5px;
}
h2.title3 a{
    text-decoration: none;
    color:white;
}
h2.title2{
    background-image: linear-gradient(to right, #e63079, #2380ebd8);
    width:100%;
    padding:10px;
    text-align:center;
    color:white;
}
